{% extends "base.html" %}{% load static %} {% block title %}
<title>Login</title>
{% endblock %} {% block nav %}
<a href="{% url 'auth_page'%}">AUTHENTICATION</a>
{% endblock %} {% block link %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}" />
<link
  href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
  rel="stylesheet"
/>
{% endblock %} {% block content %}
<div class="wrapper">
  <span class="rotate-bg"></span>
  <span class="rotate-bg2"></span>

  <div class="form-box login">
    <h2 class="title animation" style="--i: 0; --j: 21">Login</h2>
    <form action="{% url 'User_login' %}" method="POST">
      <div class="input-box animation" style="--i: 1; --j: 22">
        <input type="text" required />
        <label for="">Username</label>
        <i class="bx bxs-user"></i>
      </div>

      <div class="input-box animation" style="--i: 2; --j: 23">
        <input type="password" required />
        <label for="">Password</label>
        <i class="bx bxs-lock-alt"></i>
      </div>
      <div class="body-btn">
        <button type="submit" class="animation" style="--i: 3; --j: 24">
          Login
        </button>
      </div>
      <div class="forget-pass animation" style="--i: 4; --j: 25">
        <p>
          <a href="">Forget Password?</a>
        </p>
      </div>
      <div class="linkTxt animation" style="--i: 5; --j: 26">
        <p>
          New to vorex?
          <a href="#" class="register-link">Sign Up</a>
        </p>
      </div>
    </form>
  </div>
  <div class="third-party-auth login animation" style="--i: 0; --j: 23">
    <h4>g</h4>
  </div>
  <div class="info-text login">
    <h2 class="animation" style="--i: 1; --j: 20">
      Welcome Back, {{username}}
    </h2>
    <p class="animation" style="--i: 2; --j: 21">
      Let's Pick Up Where you left OFF!
    </p>
  </div>

  <div class="form-box register">
    <h2 class="title animation" style="--i: 17; --j: 0">Sign Up</h2>

    <form action="{% url 'User_signup' %}" method="POST">
      <div class="input-box animation" style="--i: 18; --j: 1">
        <input type="text" required />
        <label for="">Username</label>
        <i class="bx bxs-user"></i>
      </div>

      <div class="input-box animation" style="--i: 19; --j: 2">
        <input type="email" required />
        <label for="">Email</label>
        <i class="bx bxs-envelope"></i>
      </div>

      <div class="input-box animation" style="--i: 20; --j: 3">
        <input type="password" required />
        <label for="">Password</label>
        <i class="bx bxs-lock-alt"></i>
      </div>
      <div class="body-btn">
        <button type="submit" class="animation" style="--i: 21; --j: 4">
          Sign Up
        </button>
      </div>

      <div class="linkTxt animation" style="--i: 22; --j: 5">
        <p>Already have an account? <a href="#" class="login-link">Login</a></p>
      </div>
    </form>
  </div>

  <div class="info-text register">
    <h2 class="animation" style="--i: 17; --j: 0">Welcome Abroad!</h2>
    <p class="animation" style="--i: 18; --j: 1">
      Let's get you signed up and ready to go!
    </p>
  </div>
</div>
<script src="{% static 'js/auth.js'%}"></script>
{% endblock %}
