ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
body {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  background: var(--bodydark);
  margin-left: 58px;
  color: #fff;
  position: relative;
}

:root {
  --bodydark: #151b23;
  --navdark: #0d1117;
  --white: #fff;
  --black: black;
  --bodylight: #ececec;
}

.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-bold {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.nav-left {
  display: flex;
  align-items: center;
}
.nav-center {
  display: flex;
  align-items: center;
}
.nav-right {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  background-color: var(--navdark);
  padding: 15px 20px;
  align-items: center;
  justify-content: space-between;
  color: var(--bodylight);
  border-bottom: 1px var(--white);
}

.nav-main-links li a {
  list-style: none;
  color: var(--bodylight);
  margin-left: -10px;
  margin-top: 10px;
  text-decoration: none;
  font-family: "Silkscreen", sans-serif;
  font-size: 1.3rem;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 58px;
  background-color: var(--navdark);
  transition: all 0.3s ease;
  overflow: hidden;
  align-items: center;
}

.sidebar.active {
  width: 170px;
}

.logo_content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 20px;
}

.logo i {
  font-size: 1.3rem;
  color: var(--bodylight);
  cursor: pointer;
}

.logo_name {
  font-size: 22px;
  color: var(--bodylight);
  font-weight: 400;
  margin-left: 25px;
  gap: 2px;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-family: "Silkscreen", sans-serif;
}

.sidebar.active .logo_name {
  opacity: 1;
}

.nav_list {
  margin-top: 20px;
  list-style: none;
  position: relative;
}

.nav_list li {
  position: relative;
}

.nav_list a {
  display: flex;
  align-items: center;
  color: var(--bodylight);
  font-size: 20px;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.nav_list a:hover {
  background: var(--white);
  color: var(--black);
}

.nav_list i {
  font-size: 1rem;
  padding: 0 10px;
  min-width: 40px;
  align-items: center;
}

.link_name {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar.active .link_name {
  opacity: 1;
}

.main_content {
  margin-left: 60px;
  padding: 20px;
  transition: margin-left 0.3s ease;
  width: 100%;
}

.sidebar.active ~ .main_content {
  margin-left: 240px;
}

@media (max-width: 768px) {
  .sidebar {
    width: 0;
  }
  .sidebar.active {
    width: 200px;
  }
  .main_content {
    margin-left: 0;
  }
  .sidebar.active ~ .main_content {
    margin-left: 200px;
  }
}

.search-input-container {
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  position: absolute;
  align-items: center;
  border: 1px solid var(--bodylight);
  border-radius: 5px;
  width: 18%;
  height: 32px;
  max-width: 250px;
  justify-content: center;
}

.search-input-container i {
  margin-right: 15px;
  color: var(--bodylight);
  font-size: 0.9rem;
  margin-left: 15px;
  cursor: pointer;
}

.search-input-container input {
  flex: 1;
  border: none;
  outline: none;
  height: auto;
  margin-left: 2px;
  margin-right: 5px;
  color: var(--white);
  font-size: 1.05rem;
  background-color: var(--navdark);
}

.search-input-container input::placeholder {
  color: var(--bodylight);
}
.account-logo a img {
  width: 32px;
  height: 33px;
  border-radius: 50%;
  margin-top: -1px;
}
.notification-logo a img {
  width: 28px;
  height: 28px;
  margin-right: 20px;
}
.create-logo a img {
  width: 28px;
  height: 28px;
  margin-right: 20px;
}
.login-btn button {
  background-color: var(--navdark);
  color: var(--bodylight);
  border-color: var(--bodylight);
  border: 1px solid var(--white);
  width: 60px;
  height: 32px;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 1.05rem;
}
.login-btn button:hover {
  background-color: var(--white);
  color: var(--black);
  transition: 0.4s ease;
}
.signup-btn button {
  background-color: var(--navdark);
  color: var(--bodylight);
  border-color: var(--bodylight);
  border: 1px solid var(--white);
  width: 65px;
  height: 32px;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 1.05rem;
}

.signup-btn button:hover {
  background-color: var(--white);
  color: var(--black);
  transition: 0.4s ease;
}
hr {
  border: none;
  border-top: 2px solid var(--white);
  margin: 0px auto;
}

/* #preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bodydark);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.5 ease;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #ccc;
  border-top-color: var(--navdark);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
