.signup-container {
  width: 400px;
  height: 560px;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  background-color: black;
}
.signup-container input {
  display: flex;
  justify-content: center;
  color: white;
  background-color: black;
  border: 1px solid white;
  padding: 9px 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 250px;
  margin-right: 120px;
  outline: none;
  border-radius: 7px;
}

.signup-container label {
  display: flex;
  justify-content: start;
  color: white;
  margin-top: 28px;
  margin-left: 30px;
}
.signup-container h3 {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.signup-container P {
  color: white;
  margin-left: 30px;
  margin-top: 10px;
}
.signup-container a {
  text-decoration: none;
  color: aqua;
}
.signup-container button {
  margin-top: 40px;
  padding: 9px 80px;
  margin-left: 30px;
  border-radius: 7px;
  background-color: black;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}
.signup-container button:hover {
  background-color: #ffffff;
  color: black;
  transition: 0.3s ease;
}
