{% extends 'base.html' %} {% load static %} {% block title %}
<title>Home</title>
{% endblock %} {% block link %}
<link rel="stylesheet" href="{% static 'css/body.css'%}" />
{% endblock %} {%block nav %}
<a href="/">HOME</a>
{% endblock %} {% block content %}
<div class="rooms">
  <div class="pre-dif-rooms">
    <div class="room1">
      <a href="#"><h3>PYTHON</h3></a>
      <p>Learn & Practice Python with vorex</p>
    </div>
    <div class="room2">
      <a href="#"><h3>JAVA</h3></a>
      <p>Learn & Practice problem java with vorexx</p>
    </div>
  </div>
  <div class="your-rooms-container"></div>
</div>
{% endblock %}
